<a href="https://colab.research.google.com/github/gilangpratama-afk/Kecerdasan-Buatan/blob/main/Gilang_Pratama_A_171011400157.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import pydotplus #pip install pydotplus
from sklearn.tree import export_graphviz
from sklearn.tree import DecisionTreeClassifier
import numpy as np
from matplotlib import pyplot as plt

In [ ]:
 data = pd.DataFrame({'Tinggi':[170,165,180,176,182],
                      'Berat Badan' :[53,51,56,55,56],
                                            'Ukuran Sepatu' :[31,32,33,33,34],
                                            'Panjang Rambut' :[2,14,1,2,3],
                                            'Panjang Kaki' :[101,95,99,102,90],
                                'Jenis Kelamin':[1,0,1,0,1]})
df = pd.DataFrame(data)
 
df.head()

   Tinggi  Berat Badan  ...  Panjang Kaki  Jenis Kelamin
0     170           53  ...           101              1
1     165           51  ...            95              0
2     180           56  ...            99              1
3     176           55  ...           102              0
4     182           56  ...            90              1

[5 rows x 6 columns]

In [ ]:
def tree_graph_to_png(tree, feature_names, png_file_to_save):
    tree_str = export_graphviz(tree, feature_names=feature_names, 
                                     filled=True, out_file=None)
    graph = pydotplus.graph_from_dot_data(tree_str)  
    graph.write_png(png_file_to_save)

In [ ]:
#define Decision Tree
dt = DecisionTreeClassifier(criterion = 'entropy')
#Define input vectors
#X is the features in this dataset
X = data['Berat Badan'].values.reshape(-1, 1)
#Y is the vector with our Target Variables
Y = data['Jenis Kelamin'].values
#start fitting process
dt.fit(X, Y)
 
tree_graph_to_png(dt, feature_names=['Berat Badan'], 
                 png_file_to_save='dt.png')

In [ ]:
 d  = np.array([168, 52, 42, 5,95,])
d=d.reshape(-1, 1)
 
dt.predict(d)

array([1, 0, 0, 0, 1])